[run]
data_file = .coverage3
plugins =
    jinja_coverage

omit =
    setup.py
    /usr/*
    /tmp/*
    tests/*
    devtools/*
    .tox/*

[report]
exclude_lines =
    pragma: no cover
    no cover 3.x
    if six.PY2

[html]
directory = htmlcov/py3

[jinja_coverage]
template_directory = /home/mikem/Devel/koji/koji/www/kojiweb/templates
