[flake8]
select = E,F,W,C,I
ignore =
    # too many leading ‘#’ for block comment
    E266,
    # do not assign a lambda expression, use a def
    E731,
    # [PY2] list comprehension redefines `name` from line `N`
    F812,
    # line break after binary operator
    W504
max_line_length = 99
exclude =
    .git,
    __pycache__,
    tests,
    docs,
    ./koji-*/*

filename =
    *.py,
    ./cli/koji,
    ./builder/kojid,
    ./builder/mergerepos,
    ./hub/rpmdiff,
    ./util/kojira,
    ./util/koji-gc,
    ./util/koji-shadow,
    ./util/koji-sweep-db,
    ./util/koji-sidetag-cleanup,
    ./vm/kojivmd

application_import_names = koji,koji_cli,kojihub,kojiweb,__main__
import_order_style = pep8
