[flake8]
select = I,C,F,E1,E2,E3,E4,E502,E7
ignore = E266,E731
exclude =
    .git,
    __pycache__,
    tests,
    docs,
    ./koji-*/*

filename =
    *.py,
    ./cli/koji,
    ./builder/kojid,
    ./builder/mergerepos,
    ./hub/rpmdiff,
    ./util/kojira,
    ./util/koji-gc,
    ./util/koji-shadow,
    ./util/koji-sweep-db,
    ./vm/kojivmd

application_import_names = koji,koji_cli,kojihub,kojiweb,__main__
import_order_style = pep8
