-e .
Cheetah;python_version < '3.0'
Cheetah3;python_version >= '3.0'
psycopg2-binary;python_version >= '3.0'
python-multilib
python-qpid-proton<0.38.0;python_version < '3.0'
python-qpid-proton;python_version >= '3.0'
defusedxml
