[Unit]
Description=Koji vm build server
Documentation=https://docs.pagure.org/koji/server_howto/

After=network.target

[Service]
ExecStart=/usr/sbin/kojivmd \
       --fg \
       --force-lock \
       --verbose

[Install]
WantedBy=multi-user.target
