[Unit]
Description=Koji vm build server
Documentation=https://fedoraproject.org/wiki/Koji/ServerHowTo

After=network.target

[Service]
ExecStart=/usr/sbin/kojivmd \
       --fg \
       --force-lock \
       --verbose

[Install]
WantedBy=multi-user.target
