[Unit]
Description=Daily maintenance script for koji db
Documentation=https://pagure.io/docs/koji/

[Service]
Type=oneshot
ExecStart=/usr/sbin/koji-sweep-db
