        </div>

        <p id="footer">
          Copyright &copy; 2006-2016 Red Hat, Inc.
          <a href="https://pagure.io/koji/"><img src="{{ themePath('images/powered-by-koji.png') }}" alt="Powered By Koji" id="PoweredByKojiLogo"/></a>
        </p>
{{ localfooter }}
      </div>
    </div>
{{ localbottom }}
  </body>
</html>
