{% include "header.html.j2" %}

<h4>Information for repo {{ repo_id }}</h4>

{% if repo %}
<table>
  <tr><th>ID</th><td>{{ repo.id }}</td><th></tr>
  <tr><th>Tag</th><td><a href="taginfo?tagID={{ repo.tag_id }}">{{ repo.tag_name }}</a></td></tr>
  {% if repo.task_id %}
  <tr><th>Task ID</th><td><a href="taskinfo?taskID={{ repo.task_id }}">{{ repo.task_id }}</a> ({{ util.taskState(repo.task_state) }})</td></tr>
  {% endif %}
  <tr><th>State</th><td class="repo{{ state_name }}">{{ state_name }}</td></tr>
  <tr><th>Created</th><td>{{ util.formatTimeLong(repo.creation_ts) }}</td></tr>
  <tr><th>State changed</th><td>{{ util.formatTimeLong(repo.state_ts) }}</td></tr>
  <tr><th>Created from Event</th><td>{{ repo.create_event }} ({{ util.formatTimeLong(repo.create_ts) }})</td></tr>
  {%- if repo.begin_event %}
  {%- if repo.end_event %}
  <tr><th>Event range</th><td>{{ repo.begin_event }} ... {{ repo.end_event }}</td></tr>
  {%- else %}
  <tr><th>Event range</th><td>{{ repo.begin_event }} ... </td></tr>
  {%- endif %}
  {%- endif %}
  {%- if state_name != 'deleted' %}
  <tr><th>URL</th><td><a href="{{ url }}">repodata</a></td></tr>
  <tr><th>Repo json</th><td><a href="{{ repo_json }}">repo.json</a></td></tr>
  {%- endif %}
  #if repo.custom_opts
  <th>Custom Opts</th><td class="usertext">{{ json.dumps(repo.custom_opts, indent=4) }}</td>
  #endif
  <tr><th>Dist repo?</th><td class="{{ repo.dist | lower }}">{{ 'yes' if repo.dist else 'no' }}</td></tr>
  <tr><th>Number of buildroots: </th><td><a href="buildroots?repoID={{ repo.id }}">{{ numBuildroots }}</a></td></tr>
  #if requests
  <tr><th>Fulfills requests:</th><td>
    #for req in requests
    <a href="reporequest?reqID={{ req.id }}">{{ req.id }}</a>
    #endfor
  </td/></tr>
  #endif
</table>
{% else %}
Repo {{ repo_id }} not found.
{% endif %}


{% include "footer.html.j2" %}
