
#include "header.html.j2"

<h4>Information for repo request {{ req_id }}</h4>

#if not req
Repo request {{ req_id }} not found.
#else
<table>
  <tr><th>ID</th><td>{{ req.id }}</td><th></tr>
  <tr><th>Active</th><td>{{ req.active }}</td><th></tr>
  <tr><th>Priority</th><td>{{ req.priority }}</td><th></tr>
  <tr><th>Tag</th><td><a href="taginfo?tagID={{ req.tag_id }}">{{ req.tag_name }}</a></td></tr>
  #if req.at_event
  <tr><th>At specific event</th><td>{{ at_event.id }} ({{ util.formatTimeLong(at_event.ts) }})</td><th></tr>
  #elif req.min_event
  <tr><th>Minimum event</th><td>{{ min_event.id }} ({{ util.formatTimeLong(min_event.ts) }})</td><th></tr>
  #else
  <tr><th>Invalid event</th><td>Unable to determine event for request</td><th></tr>
  #endif
  #if req.opts
  <th>Options</th><td class="usertext">{{ req.opts | tojson(indent=4) }}</td>
  #endif
  #if req.repo_id
  <tr><th>Fulfilled by repo</th><td><a href="repoinfo?repoID={{ req.repo_id }}">{{ req.repo_id }}</a></td></tr>
  #endif
  #if req.task_id
  <tr><th>Task ID</th><td><a href="taskinfo?taskID={{ req.task_id }}">{{ req.task_id }}</a> ({{ util.taskState(req.task_state) }})</td></tr>
  <tr><th>Tries</th><td>{{ req.tries }}</td></tr>
  #endif
  <tr><th>Owner</th><td><a href="userinfo?userID={{ req.owner }}">{{ req.owner_name }}</a></td></tr>
  <tr><th>Created</th><td>{{ util.formatTimeLong(req.create_ts) }}</td></tr>
  <tr><th>Updated</th><td>{{ util.formatTimeLong(req.update_ts) }}</td></tr>
</table>
#endif


#include "footer.html.j2"
