
#include "header.html.j2"

  #if inheritanceData
  <h4>Edit Parent</h4>
  #else
  <h4>Add Parent</h4>
  #endif

  <form action="tagparent">
    {{ util.authToken(form=True) }}
    <input type="hidden" name="action" value="{{ 'edit' if inheritanceData else 'add' }}"/>
    <table>
      <tr>
        <th>Tag Name</th>
        <td>
          {{ tag.name }}
          <input type="hidden" name="tagID" value="{{ tag.id }}"/>
        </td>
      </tr>
      <tr>
        <th>Parent Tag Name</th>
        <td>
          {{ parent.name }}
          <input type="hidden" name="parentID" value="{{ parent.id }}"/>
        </td>
      </tr>
      <tr>
        <th>Priority</th>
        <td>
          <input type="text" name="priority" value="{{ inheritanceData.priority if inheritanceData else maxPriority + 1 }}"/>
        </td>
      </tr>
      <tr>
        <th>Max Depth</th>
        <td>
          <input type="text" name="maxdepth" value="{{ inheritanceData.maxdepth if inheritanceData and inheritanceData.maxdepth is not none else '' }}"/>
        </td>
      </tr>
      <tr>
        <th>Intransitive</th>
        <td>
          <input type="checkbox" name="intransitive" value="yes"{{ ' checked' if inheritanceData and inheritanceData.intransitive else '' }}/>
        </td>
      </tr>
      <tr>
        <th>Packages Only</th>
        <td>
          <input type="checkbox" name="noconfig" value="yes"{{ ' checked' if inheritanceData and inheritanceData.noconfig else '' }}/>
        </td>
      </tr>
      <tr>
        <th>Package Filter</th>
        <td>
          <input type="text" name="pkg_filter" value="{{ inheritanceData.pkg_filter if inheritanceData else '' }}"/>
        </td>
      </tr>
      <tr>
        <td>
          #if inheritanceData
          <button type="submit" name="save" value="Save">Save</button>
          #else
          <button type="submit" name="add" value="Add">Add</button>
          #endif
        </td>
        <td><button type="submit" name="cancel" value="Cancel">Cancel</button></td>
      </tr>
    </table>
  </form>

#include "footer.html.j2"
