
#include "includes/header.html.j2"
# from "includes/macros.html.j2" import rowToggle

  <h4>Information for channel <a href="channelinfo?channelID={{ channel.id }}">{{ channel.name }}</a></h4>

  <table>
    <tr>
      <th>Name</th><td>{{ channel.name }}</td>
    </tr>
    <tr>
      <th>ID</th><td>{{ channel.id }}</td>
    </tr>
    <tr>
      <th>Description</th><td>{{ channel.description or '' }}</td>
    </tr>
    <tr>
      #set enabled = channel.enabled and 'yes' or 'no'
      <th>Enabled?</th>
      <td class="{{ enabled }}">
        {{ util.imageTag(enabled) }}
      </td>
    </tr>
    <tr>
      <th>Comment</th><td>{{ channel.comment or '' }}</td>
    </tr>
    <tr>
      <th>Active Tasks</th><td><a href="tasks?view=flat&channelID={{ channel.id }}">{{ taskCount }}</a></td>
    </tr>
    <tr>
      <th>Hosts</th>
      <td>
      #if hosts | length > 0
      <table class="data-list">
        <tr class="list-header">
          <th>Hostname</th>
          <th>Enabled</th>
          <th>Ready</th>
        </tr>
      #for host in hosts
        <tr class="{{ rowToggle(loop) }}">
          <td><a href="hostinfo?hostID={{ host.id }}">{{ host.name }}</a></td>
          <td class="{{ host.enabled |string |lower }}">{{ util.imageTag('yes') if host.enabled else util.imageTag('no') }}</td>
          <td class="{{ host.ready |string |lower }}">{{ util.imageTag('yes') if host.ready else util.imageTag('no') }}</td>
        </tr>
      #endfor
        <tr>
          <th>Total</th>
          <td>{{ enabled_hosts }}</td>
          <td>{{ ready_hosts }}</td>
        </tr>
      </table>
      #else
      No hosts
      #endif
      </td>
    </tr>
  </table>

#include "includes/footer.html.j2"
