
#include "includes/header.html.j2"

  #if tag
  <h4>Edit tag {{ tag.name }}</h4>
  #else
  <h4>Create tag</h4>
  #endif

  <form action="{{ 'tagedit' if tag else 'tagcreate' }}">
    {{ util.authToken(form=True) }}
    <table>
      <tr>
        <th>Name</th>
        <td>
          <input type="text" name="name" value="{{ tag.name if tag else '' }}"/>
          #if tag
          <input type="hidden" name="tagID" value="{{ tag.id }}"/>
          #endif
        </td>
      </tr>
      <tr>
        <th>Arches</th>
        <td><input type="text" name="arches" value="{{ tag.arches if tag else '' }}"/></td>
      </tr>
      <tr>
        <th>Locked</th>
        <td><input type="checkbox" name="locked" value="yes" {{ 'checked="checked"' if tag and tag.locked else '' }}/></td>
      </tr>
      <tr>
        <th>Permission</th>
        <td>
          <select name="permission">
            <option value="none" {{ 'selected' if tag and not tag.perm_id else '' }}>none</option>
            #for permission in permissions
            <option value="{{ permission.id }}" {{ 'selected' if tag and tag.perm_id == permission.id else '' }}>{{ permission.name }}</option>
            #endfor
          </select>
        </td>
      </tr>
      #if mavenEnabled
      <tr>
        <th>Maven Support?</th>
        <td><input type="checkbox" name="maven_support" value="yes" {{ 'checked="checked"' if tag and tag.maven_support else '' }}>
      </tr>
      <tr>
        <th>Include All Maven Builds?</th>
        <td><input type="checkbox" name="maven_include_all" value="yes" {{ 'checked="checked"' if tag and tag.maven_include_all else '' }}>
      </tr>
      #endif
      <tr>
        <td>
          #if tag
          <button type="submit" name="save" value="Save">Save</button>
          #else
          <button type="submit" name="add" value="Add">Add</button>
          #endif
        </td>
        <td><button type="submit" name="cancel" value="Cancel">Cancel</button></td>
      </tr>
    </table>
  </form>

#include "includes/footer.html.j2"
